::ng-deep {
  .available-date {
    background-color: #005c22 !important;
    cursor: pointer;
  }

  .booked-date {
    background-color: #ef4444 !important;
    cursor: not-allowed;
  }

  .past-date {
    background-color: #00000023 !important;
    cursor: not-allowed;
  }

  .selected-range {
    background-color: #dfe20e !important;
  }

  .fc-day:hover:not(.past-date):not(.booked-date) {
    opacity: 0.8;
  }

  .fc-daygrid-day-number {
    color: white;
    font-weight: bold;
  }
}






// Leiras
.description-container {
  max-height: 150px;
  overflow: hidden;
  position: relative;
  
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: linear-gradient(to bottom, transparent, white);
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  
  &.expanded {
    max-height: none;
    
    &::after {
      opacity: 0;
    }
  }
}

.rotate-180 {
  transform: rotate(180deg);
}