<nav class="w-full bg-[#DCDCDC] shadow-md">
  <div class="mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16 lg:h-18">
      <!-- LEFT - Logo -->
      <section class="flex-shrink-0">
        <h1 class="text-[#E62727] text-xl lg:text-2xl font-bold">FoglaljLe</h1>
      </section>

      <!-- RIGHT - Linkek -->
      <section class="hidden lg:flex items-center space-x-4">
        <a
          href=""
          class="text-gray-700 hover:text-[#E62727] transition-colors text-sm font-medium"
          >LEGJOBB SZÁLLÁSOK</a
        >
        <a
          href=""
          class="text-gray-700 hover:text-[#E62727] transition-colors text-sm"
          >Népszerű úti célok</a
        >
        <a
          href=""
          class="text-gray-700 hover:text-[#E62727] transition-colors text-sm"
          >Ügyfélszolgálat</a
        >
        <h1 class="w-2 h-10 text-black/40 border-r-2"></h1>
        <button
          class="text-gray-700 hover:text-gray-900 transition-colors font-medium"
        >
          Bejelentkezés
        </button>
        <button
          class="bg-red-500 text-white px-4 py-2 rounded-full hover:bg-red-600 transition-colors"
        >
          Regisztráció
        </button>
      </section>

      <!-- Hamburger menü -->
      <button class="lg:hidden p-2 rounded-md text-gray-700 hover:bg-gray-200">
        <svg
          class="h-6 w-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
          />
        </svg>
      </button>
    </div>
  </div>

  <!-- Mobile menu -->
  <div class="lg:hidden border-t border-gray-300 hidden">
    <div class="px-4 py-3 space-y-3">
      <a
        href="/legjobb-szallas"
        class="block text-gray-700 hover:text-[#E62727] font-medium"
        >LEGJOBB SZÁLLÁSOK</a
      >
      <a href="/nepszeru" class="block text-gray-700 hover:text-[#E62727]"
        >Népszerű úti célok</a
      >
      <a href="/" class="block text-gray-700 hover:text-[#E62727]"
        >Ügyfélszolgálat</a
      >
      <button
        class="w-full text-left text-gray-700 hover:text-gray-900 font-medium py-2"
      >
        Bejelentkezés
      </button>
      <button
        class="w-full bg-red-500 text-white px-4 py-2 rounded-full hover:bg-red-600"
      >
        Regisztráció
      </button>
    </div>
  </div>
</nav>
