<div class="w-full">
  <form class="space-y-4">
    <div>
      <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
        E-mail cím
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-orange-500 focus:border-transparent"
        id="email"
        type="email"
        placeholder="Pl.: jani@gmail.com"
        [(ngModel)]="registeringUser.email"
        name="email"
      />
    </div>

    <div>
      <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
        Felhasználónév
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-orange-500 focus:border-transparent"
        id="username"
        type="text"
        placeholder="Pl.: jani"
        [(ngModel)]="registeringUser.name"
        name="name"
      />
    </div>

    <div>
      <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
        Jelszó
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-orange-500 focus:border-transparent"
        id="password"
        type="password"
        placeholder="******************"
        [(ngModel)]="registeringUser.password"
        name="password"
      />
      <p class="text-xs text-gray-500 mt-1">
        Min. 8 karakter, 1 nagybetű, 1 kisbetű, 1 szám
      </p>
    </div>

    <div>
      <label
        class="block text-gray-700 text-sm font-bold mb-2"
        for="passwordConfirm"
      >
        Jelszó megerősítés
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-orange-500 focus:border-transparent"
        id="passwordConfirm"
        type="password"
        placeholder="******************"
        [(ngModel)]="registeringUser.confirmPassword"
        name="confirmPassword"
      />
    </div>

    <div class="flex items-center">
      <label for="aszf" class="text-sm text-gray-700">
        * Regisztrációddal automatikusan elfogadod az
        <a href="/aszf" class="text-orange-500 hover:text-orange-600 underline"
          >ÁSZF</a
        >-et
      </label>
    </div>

    <button
      (click)="registrationHandler()"
      class="w-full bg-orange-500 hover:bg-orange-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition"
      type="button"
    >
      Regisztráció
    </button>
  </form>
</div>
