@use "tailwindcss";

@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100;
  font-style: normal;
}

html,
body {
  font-family: "Montserrat";
}

h1 {
  font-size: calc(1.5rem + 1vw);
}

h2 {
  font-size: calc(0.5rem + 1vw);
}
